<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/lead-the-making-of-the-1-reimagined-nike-news-native-1600-1533854895.jpg?crop=1xw:1xh;center,top&resize=640:*);">
  <div class="container">
    <h1>Come to the world <strong>Sneaker Head!</strong></h1>
    <p> Find your favorite Sneaker</p>
    <%=link_to "Shop now", sneakers_path, class: "btn btn-flat" %>
  </div>
</div>
<br>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1515955656352-a1fa3ffcd111?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)">
  N i k e
</div>
<br>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://sneakernews.com/wp-content/uploads/2021/12/adidas-ZX-2K-Boost.jpg)">
  A d i d a s
</div>
<br>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://publish.one37pm.net/wp-content/uploads/2020/06/bestpumasneakers-hero.jpg?fit=1600%2C707)">
  P u m a
</div>
<br>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/736x/e8/85/db/e885dbc829fcb15c132ae2ff12324138--new-balance-tropical.jpg)">
  N e w     B a l a n c e
</div>
<br>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/street-style-gettyimages-646902554-1510693401.jpg?crop=0.601xw:0.677xh;0.179xw,0.237xh&resize=640:*)">
  V a n s
</div>


<br>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Development by YOLO® 2022. All rights reserved ©.
  </div>
</div>
