.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 2px;
  background: #181818;
  //transition: background 0.3s ease;
  //cursor: pointer;
  font-size: .6875rem;
  max-width: 100%;
  cursor: pointer;
  text-transform: uppercase;

}
a:hover{
  background-color: gray;
}
