<h1>SNEAKERS</h1>

<% @sneakers.each do |sneaker| %>
  <p><%= sneaker.model %></p>
  <p><%= link_to "Details", sneaker_path(sneaker) %>
<% end %>

<h3><%= link_to "Put a new sneaker", new_sneaker_path %> </h3>
